{% extends 'base_template/base_user.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/download.css') }}">
    <script src="{{ url_for('static',filename='js/lib/echarts.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/china.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/APPdownload.js') }}"></script>
{% endblock %}
{% block title %}
    APP下载量
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="clear"></div>
    <div id="day1" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>
    <div id="month1" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>
    <div id="day2" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>
    <div id="month2" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>

    <div class="search d7">
        <form>
            <input type="text" id="app_name" placeholder="搜索从这里开始...">
            <button type="button" id="search" onclick="search_app()"></button>
        </form>
    </div>
    <div id="day_search" class="chart">还没有对应的数据，试试搜索一下app吧</div>
    <div id="month_search" class="chart">还没有对应的数据，试试搜索一下app吧</div>
    <script>
        create_echart('day1', {{ apps[0]|safe }});
        create_echart('month1', {{ apps[0]|safe }});
        create_echart('day2', {{ apps[1]|safe }});
        create_echart('month2', {{ apps[1]|safe }});
    </script>
{% endblock %}