<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论详情</title>
    <link href="../css1/Details.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css1/sou/font-awesome.min.css">
    <link rel="stylesheet" href="../css1/sou/style.css">
</head>
<body>
<div class="container">
<ul id="nav">
    <li ><a href="home.html">首页</a></li>
    <li><a href="APPdownload.html">APP下载量</a></li>
    <li><a href="Details.html">APP评论详情</a></li>
    <li><a href="score.html">APP评分统计</a></li>
    <li><a href="usercenter.html">用户中心</a></li>
</ul>
    <div class="search d7">
        <form>
            <input type="text" placeholder="搜索从这里开始...">
            <button type="submit"></button>
        </form>
    </div>
<div id="jimi">
<section class="comments">
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>一直都在使用爱奇艺的 app 看各种视频，自制剧特别多，其中不乏高质量。
                    同时也有很多吸引人的独播资源，比如奇葩说啊什么的，更是期期必看。
                    就是广告超级长比较烦人，后来为了免广告开了会员，结果现在会员也在插播广告了。。。
                    作为用户，整体还是比较满意的，除了万恶的各种广告特别讨厌之外，希望爱奇艺越做越好吧</p>
            </div>
            <p class="attribution">by <a href="#non">雪欣999</a> 2016-04-12</p>
        </div>
    </article>
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/7" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>爱奇艺是一家视频网站，我每天都进站看视频，觉得很不错。网站以绿色为基调，让人看了很舒服，能够缓解视觉疲劳。里面资源也很丰富，有实时更新的电影、电视剧、综艺等等。不仅是电视上播放的节目，爱奇艺里还有一些自制综艺，我觉得还挺不错，比如说有奇葩说、爱in思谈。爱奇艺的自制娱乐新闻也很好看，有一些好玩的吐槽。总的来说，爱奇艺的节目创新能力很高。不足的话就是视频前的广告有点长。</p>
            </div>
            <p class="attribution">by <a href="#non">一生有你乀</a> 2016-04-16</p>
        </div>
    </article>
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>说实话，爱奇艺做的确实很好，，绿色为主题的页面让人视觉上很舒服，有种焕然一新的感觉，个人感觉那种颜色也可以缓解视疲劳，对于长时间对着电脑，手机屏幕的人来说好处是非常大的，另外呢，视频量很大，别的视频软件里没有的视频在这里基本上都能找到，以前我非常想看《拯救大兵瑞恩》，可是能找了很多视频app都没有找到，最后在爱奇艺里头找到了，我非常高兴，感觉爱奇艺真的很不错，就是呢很多视频的用会员，唉，其实会员费也不算太贵，要是每个月的费用在低点就更好了。</p>
            </div>
            <p class="attribution">by <a href="#non">酸辣肉丸子</a> 2016-04-17</p>
        </div>
    </article>
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>很喜欢用的视频播放软件。
                    因为内容比较多，资源比较丰富，而且有很多独家资源！比如前一阵的《盗墓笔记》、《鬼吹灯》等等，只有爱奇艺独播！还得VIP才能抢先看!于是朋友圈、QQ圈掀起了一阵借爱奇艺会员狂潮233
                    而且这里有很多原创的视频，比如唐唐神吐槽！真的很喜欢这个界面，也一直是爱奇艺独播，当然要用爱奇艺啦~~
                    就是广告长了点...哎，看到一半弹出个广告，很难受，开始时候的广告也比较长</p>
            </div>
            <p class="attribution">by <a href="#non">哈哈哈哈安双子</a> 2016-04-18</p>
        </div>
    </article>
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>对这个网站可以说又喜欢又不喜欢，网站很多种视频，可以满足不同口味的人，而且网站很多电视剧更新的很及时，对于喜欢看剧的我来说，更新的及时简直就是不能再棒。最近喜欢看《人民的名义》，爱奇艺总能第一时间更新，让我看到最新的剧情，这是比较赞的。但是爱奇艺广告时间太长了，一集电视剧要90秒的广告，而且有些时候看着看着中间突然弹出一个广告，这个是让人很窝火的，本来看剧看的过瘾呢，突然跳出来一个广告很影响看剧的心情。</p>
            </div>
            <p class="attribution">by <a href="#non">睡神</a> 2016-04-19</p>
        </div>
    </article>
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>虽然下载了爱奇艺APP，但对其依然保持中立的态度。爱奇艺算是比较老的视频网站，影片、电视剧、视频什么的都比较全，就是动不动就只能VIP看，而且别的网站都免费看的东东，爱奇艺还需要VIP才能观看。再就是广告多，且时间长，有的多达2分钟多。感觉看片没有看广告时间长呢。很是费劲。腾讯就很不错，几乎没广告。如果爱奇艺再不改变营销策略，估计看客会越来越少吧。</p>
            </div>
            <p class="attribution">by <a href="#non">无关风乐</a>2016-04-20</p>
        </div>
    </article>

</section>
</div>
</div>
</body>
</html>