{% extends 'base_template/base_user.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Details.css') }}">
{% endblock %}
{% block title %}
    评论详情
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="search d7">
        <form>
            <input type="text" placeholder="搜索从这里开始...">
            <button type="submit"></button>
        </form>
    </div>
    <div id="jimi">
        <section class="comments">
            {% if comments %}
                {% for comment in comments %}
                    <article class="comment">
                        <a class="comment-img" href="#non">
                            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
                        </a>
                        <div class="comment-body">
                            <div class="text">
                                <p>{{ comment['content']|safe }}</p>
                            </div>
                            <p class="attribution">
                                <strong> {{ comment['app_name'] }} </strong> from
                                <strong>{{ comment['store_name'] }}</strong> {{ comment['time'] }}
                            </p>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                您的数据找不到啦！！！<br><br>
                搜搜它们？
            {% endif %}
        </section>
    </div>
{% endblock %}