<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css1/home.css" rel="stylesheet" type="text/css" />
    <script src="../JS1/echarts.min.js"></script>
    <script src="../JS1/china.js" charset ="utf-8"></script>
    <title>首页</title>
</head>
<body>
     <div id="title">
     <a href="APPdownload.html" style="font-size:80px;font-family: 新宋体">开启</a>数据分析新时代
     </div>
     <div class="test">
        <ul>
            <li><a href="APPdownload.html"><img src="../css1/img/zhou.png" width="140" height="80" alt=""></a></li>
            <li><a href="APPdownload.html"><img src="../css1/img/yue.png" width="140" height="80" alt=""></a></li>
            <li><a href="APPdownload.html"><img src="../css1/img/nian.png" width="140" height="80" alt=""></a></li>
            <br>
            <li><a href="score.html"><img src="../css1/img/ping1.png" width="140" height="80" alt=""></a></li>
            <li></li>
            <li><a href="score.html"><img src="../css1/img/ping1.png" width="140" height="80" alt=""></a></li>
        </ul>
</div>
</body>
</html>