{% extends 'base_template/base.html' %}
{% block head %}
    <link href="{{ url_for('static',filename="css/home.css") }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}
    首页
{% endblock %}
{% block body %}
    {{ super() }}
    <div id="title">
        <a href="APPdownload.html" style="font-size:80px;font-family: 新宋体">开启</a>数据分析新时代
    </div>
    <div class="test">
        <ul>
            <li><a href="{{ url_for('download') }}"><img src="{{ url_for('static',filename='css/img/zhou.png') }}"
                                                         width="140"
                                                         height="80" alt=""></a></li>
            <li><a href="{{ url_for('download') }}"><img src="{{ url_for('static',filename='css/img/yue.png') }}"
                                                         width="140"
                                                         height="80" alt=""></a></li>
            <li><a href="{{ url_for('download') }}"><img src="{{ url_for('static',filename='css/img/nian.png') }}"
                                                         width="140"
                                                         height="80" alt=""></a></li>
            <br>
            <li><a href="{{ url_for('score') }}"><img src="{{ url_for('static',filename='css/img/ping1.png') }}"
                                                      width="140"
                                                      height="80" alt=""></a></li>
            <li></li>
            <li><a href="{{ url_for('score') }}"><img src="{{ url_for('static',filename='css/img/ping2.png') }}"
                                                      width="140"
                                                      height="80" alt=""></a></li>
        </ul>
    </div>
{% endblock %}