{% extends 'base_template/base.html' %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/lib/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/lib/tether.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lib/select-theme-dark.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}"/>
{% endblock %}
{% block title %}
    用户登录
{% endblock %}
{% block body %}
    {{ super() }}
    <h1 style="font-size: 50px ;color: aliceblue" id="title">APP评论数据分析系统</h1>
    <div id="login">
        <form method="post">
            <div class="logo" style="font-size:15px;color: #FFFFFF">
                <h1 style="font-size: 40px">&nbsp;&nbsp;&nbsp;登录</h1>
                <div class="scroll-parent">
                    {{ form.csrf_token }}
                    {{ form.is_admin(class = 'drop-select') }}
                </div>
            </div>
            <div class="login_box">
                {{ form.username(class='admin') }}
                {{ form.password(class='passWord') }}
                {{ form.submit(class='submit') }}
                <div class="clear"></div>
            </div>
        </form>

        <br>
        <a id="register" href="{{ url_for('register') }}" style="font-size:17px ;color: deepskyblue">还没注册？</a>
    </div>
    <div id="copyright">版权所有：浙师大</div>
    <script src="{{ url_for('static',filename='js/lib/select.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}" type="text/javascript"></script>
{% endblock %}
