{% extends 'base_template/base_user.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/distributed.css') }}">
    <script src="{{ url_for('static',filename='js/lib/echarts.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/score.js') }}"></script>
{% endblock %}
{% block title %}
    APP评分统计
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="clear"></div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="star_1" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>
    <div id="ping_1" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>
    <div id="star_2" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>
    <div id="ping_2" class="chart">还没有对应的数据，赶紧挑一个app关注吧</div>
    <div class="search d7">
        <form>
            <input type="text" id="app_name" placeholder="搜索从这里开始...">
            <button type="button" id="search" onclick="search_app()"></button>
        </form>
    </div>

    <div id="star_search" class="chart">还没有对应的数据，试试搜索一下app吧</div>
    <div id="ping_search" class="chart">还没有对应的数据，试试搜索一下app吧</div>


    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表
        create_echart('star_1', {{ apps[0]|safe}});
        create_echart('ping_1', {{ apps[0]|safe}});
        create_echart('star_2', {{ apps[1]|safe}});
        create_echart('ping_2', {{ apps[1]|safe}});
    </script>
{% endblock %}