{% extends 'base_template/base_user.html' %}
{% block head %}
    <title>用户中心</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}">
    <script src="{{ url_for('static',filename='js/lib/echarts.min.js') }}"></script>
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block content %}
    <img src="{{ url_for('static',filename='css/img/face.jpeg') }}" height="120" width="120" id="v">
    <br>
    <button id="button1" style="color: #2aabd2">编辑头像</button>
    <div id="login">
        <div class="login_box">
            <div>
                <h1 style="color: azure " id="person1">个人信息：</h1>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <table>
                        <tr>
                            <td>{{ form.username.label }}</td>
                            <td>{{ form.username(class="input") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password.label }}</td>
                            <td>{{ form.new_password(class="input") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.confirm.label }}</td>
                            <td>{{ form.confirm(class="input") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.email.label }}</td>
                            <td>{{ form.email(class="input") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.app1.label }}</td>
                            <td>{{ form.app1(class="input") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.app2.label }}</td>
                            <td>{{ form.app2(class="input") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.word1.label }}</td>
                            <td>{{ form.word1(class="input") }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.word2.label }}</td>
                            <td>{{ form.word2(class="input") }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="reset" class="">重置</button>
                                <button type="submit" class="">保存修改</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <br>
        </div>
    </div>{% endblock %}
form